:root {
  /* 🎨 Cores principais (brand) */
  --color-primary: #9c7dac;
  --color-primary-soft: #fbf5ff;
  --color-primary-dark: #463947;

  /* 🔤 Fontes */
  --font-title: "Bree Serif", serif;
  --font-body: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background: var(--color-primary-soft);
  color: #fff;
}

h1 {
  font-family: var(--font-title);
}
